{% extends 'base.html.twig' %}
{% block body %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-users"></i> List Users</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phonenumber</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            <button  class="btn btn-danger">Delete</button>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}