{% extends 'base.html.twig' %}

{% block body %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Create User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>{{ event.action }}</th>
                    </tr>
                    <tr>
                        <th>Server</th>
                        <th>{{ event.servers.name }}</th>
                    </tr>
                    <tr>
                        <th>Date </th>
                        <th>{{ event.beginDate|date('Y-m-d H:i:s')}}</th>
                    </tr>
                    </thead>
                </table>
                <a href="{{ path('events_edit', { 'id': event.id }) }}" class="btn btn-warning">Edit Event</a>
                <a href="{{ path('events_delete', { 'id': event.id }) }}" class="btn btn-danger">Delete Event </a>
            </div>
        </div>
    </div>
{% endblock %}
